* {
    margin: 0;
    padding: 0;
    transition: all .3s;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 16px;
    background-color: #000;
}

.title {
    text-align: center;
    color: #fff;
    margin-top: .75rem;
}

/* Alignment */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

a.download, a.btn, button {
    display: block;
    padding: 0.80em 1em;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    border: none;
    width: 200px;
    text-align: left;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 3px;
    transition: all .3s;
}

a:focus, .btn:focus, button:focus {
    outline: 0;
}
a:hover, .btn:hover, button:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

a.download, .create:hover {
    background-color: #3155f1;
    width: 168px;
}

.create:active {
	background-color: #1a3197;
}

.color:hover {
    background-color: #e43838;
}

.download:hover  {
    background-color: #1a3197;
}

.download:active {
    background-color: #3155f1;
}

button {
    background-color: #222;
}

a {
    text-decoration: none;
}

.mandala {
    display: flex;
    max-width: 920px;
    margin: .75rem auto;
    background-color: #fff;
    border-radius: 10px;
}

#container svg{
    width: 100%;
}

nav {
    align-self: center;
    margin-left: 50px;
}

.donate {
    /* background-color: #f5f5f5; */
    padding: 1rem;
    border-radius: 3px;
    opacity: .25;
    transition: all .3s;
    margin-top: 1rem;
}

.donate:hover {
    opacity: 1;
}

.creator {
    font-size: 12px;
    color: #aaa;
    margin-top: .25rem;
}
a.footer-author {
    background-color: #f1f1f1;
    color: #fff;
    border-radius: 3px;
    padding: 3px 6px;
    color: #aaa;
}

a.footer-author:hover {
    background-color: #222;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .mandala {
        display: flex;
        flex-direction: column-reverse;
    }
    #container {
        width: 100%;
    }
    nav {
        margin-top: 1rem;
    }
    nav button, a {
        display: inline-block;
    }
}

@media only screen and (max-width: 1920px) {
    .title {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}
